body{
    background: #180a4c;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(1, 1, 13);
}
#cabecera{
    background:  #4b41eb;
    box-shadow: 0px 0px 11px 2px rgba(119, 121, 245, 0.644);
    color: rgb(240, 254, 255);
    font-weight: bold;
    margin: 0;
    padding: 0.9em;
    
}
#cabecera #logo {
    width: 35px;
    vertical-align: middle;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: bold;
    font-size: 12pt;
}
#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 3px solid rgb(230, 41, 17);
    margin: 0 auto;
}
#container h1{
    font-size: 22pt;

}
#post
{
    background: #a4d3da;
    padding: 1em;
}
